<!DOCTYPE html>
<html lang="en" ng-app="clockApp">
<head>
    <meta charset="UTF-8">
    <title>Clock-App</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <h1>Clock-App</h1>
    <div ng-controller="TimeController">
        Please enter your name: <input ng-model="userName" type="text">
        <h2>User: {{userName}}</h2>
        <h2>Current Time: {{time}}</h2>
        <button ng-click="updateTime()">Update Time</button>
    </div>
</body>
</html>